@model IEnumerable<Template.Model.ViewModels.BeneficiariesViewModel>

@{
    ViewBag.Title = "Beneficiaries";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Beneficiaries</h2>
<div class="text-success">
    @ViewBag.Feedback
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.benIDNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.benIDNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relationship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.ActionLink("Uncover", "applyToRemoveBeneficiary", new { benefIDNum = item.benIDNumber })
        </td>
    </tr>
}

</table>
