@model IEnumerable<Template.Model.ViewModels.EventLogViewModel>

@{
    ViewBag.Title = "EventViewer";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Event Viewer</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.eventID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.eventID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
    </tr>
}

</table>
