@model Template.Model.ViewModels.PersonalInfoViewModel

@{
    ViewBag.Title = "Basic Information";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<div>
    <h4>Basic Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spouse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spouse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.province)
        </dd>

    </dl>
 </div>
