@model IEnumerable<Template.Model.ViewModels.RentalViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Hirings</h2>
<p>
    @Html.ActionLink("view items hirings", "Index","RentalItem")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateRented)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRequire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fine)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ItemCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateRented)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRequire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fine)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ItemCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyId)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new {id = item.RentalId}) |
            @Html.ActionLink("Return", "EditRental", new { id = item.RentalId })
        </td>
    </tr>
}

</table>
